// project variables
@import 'variables';

// global styles
@import 'global';

// shared components
@import 'shared/header';
@import 'shared/navbar';
@import 'shared/footer';
@import 'shared/social-media';

// page specific styles
@import 'pages/home';
@import 'pages/about';
@import 'pages/classes';
@import 'pages/events';
@import 'pages/breathing';
@import 'pages/meditation';
@import 'pages/yoga';
@import 'pages/courses';
@import 'pages/contact';

// other styles

html,
body {
	margin: 0;
	padding: 0;
	/*background: #00FF00;*/
	/*background:#000000;*/
	font-family: 'Open Sans', sans-serif;
}

body {
	margin: 0;
	padding: 0;
	/*font-family: $body-font;*/
	&.no-scroll{
		overflow-y: hidden;
	}
	
}

h1,h2,h3,h4,h5,h6,p {
	color: #2c396b;
}