.follow {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	li {
		display: inline-block;
		margin-bottom: 4px;
	}
	li.title {
		margin-right: 15px;
		text-transform: uppercase;
		color: #96a2b2;
		font-weight: 700;
		font-size: 13px;
	}
	a {
		background-color: $aluminium2;
		color: $aluminium;
		font-size: 16px;
		display: inline-block;
		line-height: 44px;
		width: 44px;
		height: 44px;
		text-align: center;
		margin-right: 8px;
		border-radius: 100%;
		-webkit-transition: all .2s linear;
		-o-transition: all .2s linear;
		transition: all .2s linear;
		&:active {
			color: $white;
			background-color: $dodger-blue;
		}
		&:focus {
			color: $white;
			background-color: $dodger-blue;
		}
		&:hover {
			color: $white;
			background-color: $dodger-blue;
		}
	}
	a.facebook {
		&:hover {
			background-color: $mariner;
		}
	}
	a.twitter {
		&:hover {
			background-color: $sky-blue;
		}
	}
	a.linkedin {
		&:hover {
			background-color: $cerulean;
		}
	}
	a.dribbble {
		&:hover {
			background-color: $french-rose;
		}
	}
}

.follow.size-sm {
	a {
		line-height: 34px;
		height: 34px;
		width: 34px;
		font-size: 14px;
	}
}

@media (max-width: $sm) {
	.follow {
		li.title {
			display: block;
			margin-right: 0;
			font-weight: 600;
		}
	}
}