.our-classes {
	.img {
		display: flex;
		margin: 2em auto;
		height: 200px;
		width: 200px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		box-shadow: -3px 5px 15px #2c396b;
	}
}

.our-classes {
	.date-time {
		h3,p {
			margin: 1em 2em;
		}
	}
}